@page
@model RideService.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<article>
    <h3>Test</h3>
    <hr />
    <img src="http://www.unsplash.it/350/350" alt="Alternate Text" />
    <div class="oprettet">
        <p>hgkhsd</p>
    </div>
    <div>
        <p>sdfsdh</p>
    </div>
</article>