@page
@model RideService.Web.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Søgning</h1>

@{
    if (Model.FilteredRides.Count == 0)
    {
        <p>Ingen resultater blev fundet</p>
    }
    else
    {
        foreach (Ride ride in Model.FilteredRides)
        {
            <article>
                <a href="/ViewRide/@ride.Id"><img src="/img/headers/@(ride.Name)-big.jpg" alt="@ride.Name" /></a>
                <hr />
                <p>Navn: @ride.Name</p>
                <hr />
                <p>Categori: @ride.Category.Name</p>
                <hr />
                <p>Status: @ride.GetStatus()</p>
            </article>
        }
    }
}

